table.calcArea1 {
	width: 2000px;
	min-width: 2000px;
}

table.calcArea1 th {
	width: 3%;
}

table.inputEffectNum {
	width: 2000px;
	min-width: 2000px;
}

table.inputEffectNum td {
	width: 30%;
}

table.kotaichiNumSelect {
	width: 2000px;
	min-width: 2000px;
}

table.kotaichiNumSelect td {
	width: 30%;
}

table.rankHoseiSelect {
	width: 2000px;
	min-width: 2000px;
}

table.rankHoseiSelect td {
	width: 30%;
	padding-bottom: 10%;
}

table.compBtn {
	width: 500px;
	min-width: 500px;
}

table.compBtn td {
	padding-top: 2%
}

.selectPokemonStyle {
	width: 30%;
}

.dropBxWidth {
	width: 250px;
}

#mnstBImg {
	width: 1%;
}

@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
#menu-bg {
background-color: #00FFFF; /*青色*/
}
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
#menu-bg {
background-color: #FF0000; /*赤色*/
}
}

@media screen and (max-width: 540px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
#menu-bg {
background-color: #00FF00; /*緑色*/
}
}
